aside
	include ../widgets/albums.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | Ошибка
	span(id="iTheme" style="display:none") fournilfour
	h2 Страница не найдена
	article
		p Страница, которую вы ищете не существует.
		p 
			| Если вы оказались здесь пройдя по ссылке на&nbsp;<a href="www.atrina.su">atrina.su</a>, сообщите <a href="mailto:support@atrina.su">нам</a>.
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade