aside
	include ../widgets/albums.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | О нас
	span(id="iTheme" style="display:none") about
	h1 О нас
	h2 История

	p Группа была основана басистом и барабанщиком в 2012 году. За всю историю группы мы разошлись с двумя гитаристами, барабанщиком и нашли постоянный вокал. Также дали несколько концертов. Мы играем без гитары с ноября 2013 года.
	a(class='card' href="vocal.html")
		div: img(src="https://pp.vk.me/c619522/v619522622/15452/6es2Q6uvRMg.jpg" alt="vocal")
		p(class="Name") Мария Тронина
			br
			span Вокал, клавиши
	a(class='card' href="bas.html")
		div: img(src="https://pp.vk.me/c619522/v619522622/15449/hlfr4EmKJzc.jpg" alt="bas" style="width: unset; height: 120px; left: -25%; position: relative;")
		p(class="Name") Дмитрий Дормидонтов
			br
			span Бас-гитара
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade