aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade
.main
	h1 Альбомы
	img(src="image/alb1.jpg" alt="album#1")
	p Пишется
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade