aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | Альбомы
	span(id="iTheme" style="display:none") albums
	h1 Альбомы
	img(src="image/alb1.jpg" alt="album#1")
	p Пишется
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade