aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | Бас
	span(id="iTheme" style="display:none") bio
	h1 Дмитрий Дормидонтов
	a(href="image/bas/b1.jpg" rel="mediaPhoto" title="Бас"): img(src="image/bas/b1.jpg" alt="bas")
	p
	a(href="image/bas/b2.jpg" rel="mediaPhoto" title="Бас"): img(src="image/bas/b2.jpg" alt="bas")
	a(href="image/bas/b3.jpg" rel="mediaPhoto" title="Бас"): img(src="image/bas/b3.jpg" alt="bas")
	a(href="image/bas/b4.jpg" rel="mediaPhoto" title="Бас"): img(src="image/bas/b4.jpg" alt="bas")
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade