aside
	include ../widgets/albums.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | Концерты
	span(id="iTheme" style="display:none") concert
	.card
		time(datetime="2014-06-04")
			| 27<br>июня
		a(class="title") Open air в честь Дня молодежи
		a(class="mediaPhoto poster" href="https://pp.vk.me/c617524/v617524662/10bcf/xvSAwu52W1k.jpg" rel="mediaPhoto")
		a(class="place") СПБ, ст. метро Ладожская, на парковке у Окея.
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade