aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade
.main
	span(id="iTitle" style="display:none") Atrina | Контакты
	span(id="iTheme" style="display:none") contacts
	<h1>Контакты

	<h2>Организация концертов
	| Мария Тронина, <a href="tel:+79313399243">+7-931-339-92-43</a>, <a href="mailto:batimaria@yandex.ru">batimaria@yandex.ru</a>

	<h2>Почта группы</h2>
	| Вы можете написать нам: <a href="mailto:mail@atrina.su">mail@atrina.su</a>
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade