aside
	include ../widgets/concert.jade
	include ../widgets/albums.jade
.main
	h1 Мерч
	a(href="https://pp.vk.me/c619825/v619825622/123bb/7RIYlmPOSvE.jpg" rel="mediaPhoto" title="Футболка с логотипом группы"): img(src="https://pp.vk.me/c619825/v619825622/123be/NCSoiwV91OI.jpg" alt="Aurora club")
	p У нас вы можете заказать футболки/толстовки и прочую атрибутику с нашей символикой.Мы сами лично следим за качеством товара. Продаем по себестоимости.
	p
		| За всеми подробностями обращаться к участникам <a href="https://vk.com/atrinacommunity">группы</a>.
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade