aside
	include ../widgets/rider.jade
	include ../widgets/albums.jade
.main
	span(id="iTitle" style="display:none") Atrina | Фото
	span(id="iTheme" style="display:none") media_p
	h1 Фото / Captain Drake Fest. 14.07.14
	| <a class="mediaPhoto" href="https://pp.vk.me/c620531/v620531662/14cbd/4LFCiHP4NVI.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c620531/v620531662/14cbe/KbhjC1MTf1U.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c620531/v620531662/14cc6/jjrhVl5nf4w.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c620531/v620531662/14cc7/_BPxZjOfsmo.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c620531/v620531662/14ccf/DySmScxdxpo.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c620531/v620531662/14cd0/R3sZpgBbmnQ.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c620531/v620531662/14cd8/NfyHLLvJdn0.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c620531/v620531662/14cd9/8fKHr8OJ4Ic.jpg"/></a></main>
aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade