aside
	include ../widgets/rider.jade
	include ../widgets/albums.jade
.main
	h1 Фото / Captain Drake Fest. 23.06.14
	| <a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d225/TG9_LlibbxA.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d226/27L6dqNVhjo.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d22e/5mWMO7u1EDI.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d22f/77XxsiAHVJo.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d237/Wmh-UUI5nr4.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d238/anFxzNVvXoM.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d240/7sQjPKlDm6w.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d241/9nU3_0LII4Y.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d249/zm3T8KJQORE.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d24a/CALNDh-qVO0.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d252/nbSbvckVYos.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d253/vc_nDMbdt8E.jpg"/></a><a class="mediaPhoto" href="https://pp.vk.me/c618224/v618224662/d25b/WhoulCn0Rwc.jpg"rel="mediaPhoto"><img src="https://pp.vk.me/c618224/v618224662/d25c/iPYgS_OhkyU.jpg"/></a></main>
aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade