aside
	include ../widgets/concert.jade
	include ../widgets/merch.jade
.main
	h1 Мария Тронина
	a(href="image/vocal/v1.jpg" rel="mediaPhoto" title="Вокал и клавиши"): img(src="image/vocal/v1.jpg" alt="vocal and key")
	p Дата рождения: 5 декабря 1992 года. В 2007 году закончила с отличием музыкальную школу по классу фортепиано. Имеет спортивный разряд КМС. Пишет песни, стихи, музыку. Является победителем и лауреатом различных конкурсов авторской песни.
	a(href="image/vocal/v2.jpg" rel="mediaPhoto" title="Вокал и клавиши"): img(src="image/vocal/v2.jpg" alt="vocal and key")
	a(href="image/vocal/v3.jpg" rel="mediaPhoto" title="Вокал и клавиши"): img(src="image/vocal/v3.jpg" alt="vocal and key")
	a(href="image/vocal/v4.jpg" rel="mediaPhoto" title="Вокал и клавиши"): img(src="image/vocal/v4.jpg" alt="vocal and key")
aside
	include ../widgets/rider.jade
	include ../widgets/video.jade